@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}
html , body{
    height: 100%;
    width: 100%;
}

html{
    font-size: 100%;
}

.main {
  background-color:  #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.heading {
  background-color: #0d0d0d;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

.heading-content {
  display: flex;
  gap: 12px;
  margin: 32px 0;
}
.rocket {
  aspect-ratio: 0.61;
  object-fit: contain;
  object-position: center;
  width: 22px;
  overflow: hidden;
  max-width: 100%;
}
.todo {
  color: #5e60ce;
  align-self: start;
  flex-grow: 1;
  white-space: nowrap;
  font: 900 40px Inter, sans-serif;
}

.input-container {
  align-self: center;
  z-index: 1;
  display: flex;
  margin-top: -27px;
  width: 50rem;
  max-width: 100%;
  gap: 8px;
}

.input-box {
  width:70%;
  color: #808080;
  white-space: nowrap;
  align-items: start;
  border-radius: 8px;
  border: 1px solid #0d0d0d;
  background-color: #262626;
  flex-grow: 1;
  justify-content: center;
  padding: 16px 16px 16px 16px;
  font: 400 16px/140% Inter, sans-serif;
}

.dates-box {
  width:25%;
  color: #808080;
  white-space: nowrap;
  align-items: start;
  border-radius: 8px;
  border: 1px solid #0d0d0d;
  background-color: #262626;
  flex-grow: 1;
  justify-content: center;
  padding: 16px 16px 16px 16px;
  font: 400 16px/140% Inter, sans-serif;
}

.add-btn {
  justify-content: center;
  border-radius: 8px;
  background-color: #1e6f9f;
  align-self: start;
  display: flex;
  gap: 8px;
  padding: 16px;
}


.add {
  color: #f2f2f2;
  font: 700 14px/140% Inter, sans-serif;
}
.add-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.todos-container {
  justify-content: space-between;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 50rem;
  max-width: 100%;
  gap: 20px;
}

.todos-heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-side {
  align-items: start;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.list {
  color: #4ea8de;
  font: 700 14px Inter, sans-serif;
}
.leftt-num {
  color: #d9d9d9;
  white-space: nowrap;
  justify-content: center;
  border-radius: 999px;
  background-color: #333;
  align-self: stretch;
  aspect-ratio: 1.263157894736842;
  padding: 2px 8px;
  font: 700 12px Inter, sans-serif;
}

.right-side {
  align-items: start;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.priority {
  color: #8284fa;
  flex-grow: 1;
  white-space: nowrap;
  font: 700 14px Inter, sans-serif;
}

.priority-nums {
  color: #d9d9d9;
  white-space: nowrap;
  justify-content: center;
  border-radius: 999px;
  background-color: #333;
  align-self: stretch;
  aspect-ratio: 2.5789473684210527;
  padding: 2px 8px;
  font: 700 12px Inter, sans-serif;
}


.todo-item{
  color: white;
  background: linear-gradient(0deg, #333333, #333333);
  padding: 1rem 1rem 0rem 1rem ;
  border-radius: 10px;
  border: 1px solid #333333
}

.todo-data{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-date{
  text-align: end;
}
.todo-date p{
  margin: 0;
  padding: 0;
  color: #808080;
  margin: 5px;
  margin-right: 110px;
  font-size: 0.7rem;
}

.checkbox{
  width: 2%;
  /* margin-right: 1rem; */
}

.todo-data p{
  width: 85%;
}
.buttons{
  width: 7%;
  display: flex;
}


.delete-btn, .edit-btn{
  background: transparent;
  border: none;
}





